<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">XYZCourses</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">{{"VARS.Home" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses">{{"VARS.Courses" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedule">{{"VARS.Schedule" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/videos">{{"VARS.Videos" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reviews">{{"VARS.Reviews" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">{{"VARS.Contact" | translate}}</a>
      </li>
      <li class="nav-item">
          <select [(ngModel)]="lang" (change)="changeLang()">
            <option value="english">English</option>
            <option value="tamil">Tamil</option>
            <option value="telugu">Telugu</option>
            <option value="hindi">Hindi</option>
          </select>
        </li>
    </ul>
  </nav>